<header class="relative bg-white mb-5 h-14">
  <nav class="mx-auto max-w-7xl">
    <div class="ml-8 lg:block lg:self-stretch">

      <div class="flex h-full space-x-8 items-center">
        <!-- <a class="color" routerLink="/home" routerLinkActive="text-green-600">
          <div class="h-10 w-10">
            <svg viewBox="0 0 100 100">
              <circle cx="50%" cy="50%" r="43%" style="fill:rgb(130, 255, 130)" width="100%" height="100%"/>
              <circle cx="50%" cy="50%" r="42%" style="fill:rgb(120, 245, 120)" width="100%" height="100%"/>
              <circle cx="50%" cy="50%" r="41%" style="fill:rgb(110, 235, 110)" width="100%" height="100%"/>
              <circle cx="50%" cy="50%" r="40%" style="fill:rgb(100, 225, 100)" width="100%" height="100%"/>
              <circle cx="50%" cy="50%" r="37%" style="fill:rgb(90, 215, 90)" width="100%" height="100%"/>
              <circle cx="50%" cy="50%" r="34%" style="fill:rgb(150, 150, 150)" width="100%" height="100%"/>
              <circle cx="50%" cy="50%" r="33.5%" style="fill:rgb(255, 255, 255)" width="100%" height="100%"/>

              <line x1="35%" y1="35%" x2="65%" y2="65%" style="stroke:rgb(150, 150, 150);stroke-width:9%"  width="100%" height="100%"/>
              <line x1="35%" y1="65%" x2="65%" y2="35%" style="stroke:rgb(150, 150, 150);stroke-width:9%"  width="100%" height="100%"/>
              <circle cx="35%" cy="35%" r="4.5%" style="fill:rgb(150, 150, 150)" width="100%" height="100%"/>
              <circle cx="65%" cy="65%" r="4.5%" style="fill:rgb(150, 150, 150)" width="100%" height="100%"/>
              <circle cx="35%" cy="65%" r="4.5%" style="fill:rgb(150, 150, 150)" width="100%" height="100%"/>
              <circle cx="65%" cy="35%" r="4.5%" style="fill:rgb(150, 150, 150)" width="100%" height="100%"/>

              <line x1="35%" y1="35%" x2="65%" y2="65%" style="stroke:rgb(90, 215, 90);stroke-width:8%"  width="100%" height="100%"/>
              <line x1="35%" y1="65%" x2="65%" y2="35%" style="stroke:rgb(90, 215, 90);stroke-width:8%"  width="100%" height="100%"/>
              <circle cx="35%" cy="35%" r="4%" style="fill:rgb(90, 215, 90)" width="100%" height="100%"/>
              <circle cx="65%" cy="65%" r="4%" style="fill:rgb(90, 215, 90)" width="100%" height="100%"/>
              <circle cx="35%" cy="65%" r="4%" style="fill:rgb(90, 215, 90)" width="100%" height="100%"/>
              <circle cx="65%" cy="35%" r="4%" style="fill:rgb(90, 215, 90)" width="100%" height="100%"/>
            </svg>
          </div>
        </a> -->
        <p></p>
        <div class="ml-auto flex items-center" *ngIf="!isLoggedIn()">
          <p>Please Login or Register your account below</p>
        </div>
        <div class="ml-auto flex items-center" *ngIf="isLoggedIn()">
          <p>
            Hello, {{username}}.
            <button align="right" (click)="onLogoutClick()">Logout</button>
          </p>
        </div>
      </div>

    </div>

  </nav>
</header>